/* CSS Document */
.nav-trigger, .sec-nav-trigger {
  display: none;
}

@media (max-width: 1585px) {
  .logo {
    margin-right: 15px;
  }

  .site-nav li {
    margin-left: 15px;
  }

  .nav-sec li + li {
    margin-left: 7px;
  }
}
@media (min-width: 1169px) and (max-width: 1599px) {
  .col-offer-item {
    max-width: 20%;
    -ms-flex: 20%;
    flex: 20%;
  }
}
@media (max-width: 1465px) {
  .nav-sec li + li {
    margin-left: 10px;
  }
  .nav-sec a {
    font-size: 10.5px;
  }

  .login-btn {
    font-size: 10.5px;
  }

  .logo {
    margin-right: 0;
  }
  .logo img {
    width: 180px;
    height: auto;
  }

  .site-nav li {
    margin-left: 10px;
  }
  .site-nav a {
    font-size: 12px;
  }

  .sec-menu-wrapper {
    position: relative;
  }

  /*.row-coupons .col{
      max-width: 20%;
      flex: 20%;
  }*/
  .monthly-deal-item {
    width: 230px;
  }

  .search-focused .search-form-wrapper .search-control {
    font-size: 50px;
  }
  .search-focused .search-form-wrapper button {
    font-size: 65px;
  }

  .col-product {
    min-width: 20%;
  }
}
@media (max-width: 1465px) and (min-width: 1246px) {
  .all-category-list .col-6 {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 20%;
  }

  .col-store-item {
    max-width: 20%;
    -ms-flex: 20%;
    flex: 20%;
  }
}
@media (max-width: 1245px) {
  .site-header {
    margin-bottom: 15px;
  }

  .site-nav {
    display: none;
    position: absolute;
    position: absolute;
    z-index: 90;
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    min-width: 200px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    top: 83px;
    width: 320px;
  }
  .site-nav ul {
    display: block;
  }
  .site-nav li {
    display: block;
    margin: 0;
  }
  .site-nav li.current a {
    box-shadow: none;
  }
  .site-nav a {
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 10px;
  }
  .site-nav a .material-icons {
    margin: 0 15px 0 0;
  }

  .nav-trigger {
    display: block;
    font-size: 33px;
    width: 35px;
    height: 83px;
    line-height: 83px;
  }
  .nav-trigger .material-icons {
    vertical-align: top;
  }

  .col-nav.nav-show {
    position: static;
  }

  .col-nav.nav-show .site-nav {
    display: block;
  }

  .item-deal {
    width: 250px;
  }

  .col-product {
    min-width: 25%;
  }

  .carousel-main {
    width: 250px;
  }

  .tab-product li a {
    padding-left: 3px;
    padding-right: 3px;
    font-weight: 400;
    font-size: 11px;
  }

  .tab-product li + li a {
    margin-left: 2px;
  }

  .tab-product li.current a {
    font-weight: 400;
  }

  .store-product-item {
    min-width: 0;
  }
}
@media (max-width: 991px) {
  .nav-sec {
    display: none !important;
    position: absolute;
    z-index: 90;
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    min-width: 200px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    left: -10px;
    top: 22px;
  }
  .nav-sec li {
    display: block;
    margin: 0 !important;
  }
  .nav-sec a {
    display: block;
    padding: 5px 10px;
  }
  .nav-sec a:hover {
    text-decoration: none;
    background-color: #f2f2f2;
  }

  .nav-show .nav-sec {
    display: block !important;
  }

  .sec-nav-trigger {
    display: block;
    line-height: 18px;
  }
  .sec-nav-trigger i {
    font-size: 18px;
    line-height: 1;
    vertical-align: top;
  }

  .col-banner {
    display: none;
  }

  .deal-title {
    width: 226px;
    -ms-flex: 0 0 226px;
    flex: 0 0 226px;
  }

  .deal-title-sm {
    width: 170px;
    -ms-flex: 0 0 170px;
    flex: 0 0 170px;
  }

  .deal-month-carousel, .deal-carousel {
    max-width: calc(100% - 226px);
    -ms-flex: calc(100% - 226px);
    flex: calc(100% - 226px);
    margin-right: 0;
  }

  .row-coupons .col {
    max-width: 25%;
    -ms-flex: 25%;
    flex: 25%;
  }

  .deal-title h3 {
    font-size: 24px;
  }

  .deal-title-sm h3 {
    font-size: 16px;
  }

  .tab-offer {
    flex-wrap: wrap;
    border-bottom: 0;
  }
  .tab-offer li {
    -ms-flex: 20%;
    flex: 20%;
    border-bottom: 1px solid #e3e3e3;
  }

  .search-focused .search-control {
    font-size: 20px;
    height: 40px;
  }
  .search-focused button {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
  .search-focused .search-form-wrapper {
    padding: 50px 15px 15px;
  }
  .search-focused .search-close {
    right: 20px;
  }

  .col-product {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .sm-m-t-0 {
    margin-top: 0px;
  }

  .sm-m-t-5 {
    margin-top: 5px;
  }

  .sm-m-t-10 {
    margin-top: 10px;
  }

  .sm-m-t-15 {
    margin-top: 15px;
  }

  .sm-m-t-20 {
    margin-top: 20px;
  }

  .sm-m-t-25 {
    margin-top: 25px;
  }

  .sm-m-t-30 {
    margin-top: 30px;
  }

  .sm-m-t-35 {
    margin-top: 35px;
  }

  .sm-m-t-40 {
    margin-top: 40px;
  }

  .sm-m-t-45 {
    margin-top: 45px;
  }

  .sm-m-t-50 {
    margin-top: 50px;
  }

  .sm-m-t-55 {
    margin-top: 55px;
  }

  .sm-m-t-60 {
    margin-top: 60px;
  }

  .sm-m-t-65 {
    margin-top: 65px;
  }

  .sm-m-t-70 {
    margin-top: 70px;
  }

  .sm-m-t-75 {
    margin-top: 75px;
  }

  .sm-m-t-80 {
    margin-top: 80px;
  }

  .sm-m-t-85 {
    margin-top: 85px;
  }

  .sm-m-t-90 {
    margin-top: 90px;
  }

  .sm-m-t-95 {
    margin-top: 95px;
  }

  .sm-m-t-100 {
    margin-top: 100px;
  }

  .sm-m-r-0 {
    margin-right: 0px;
  }

  .sm-m-r-5 {
    margin-right: 5px;
  }

  .sm-m-r-10 {
    margin-right: 10px;
  }

  .sm-m-r-15 {
    margin-right: 15px;
  }

  .sm-m-r-20 {
    margin-right: 20px;
  }

  .sm-m-r-25 {
    margin-right: 25px;
  }

  .sm-m-r-30 {
    margin-right: 30px;
  }

  .sm-m-r-35 {
    margin-right: 35px;
  }

  .sm-m-r-40 {
    margin-right: 40px;
  }

  .sm-m-r-45 {
    margin-right: 45px;
  }

  .sm-m-r-50 {
    margin-right: 50px;
  }

  .sm-m-r-55 {
    margin-right: 55px;
  }

  .sm-m-r-60 {
    margin-right: 60px;
  }

  .sm-m-r-65 {
    margin-right: 65px;
  }

  .sm-m-r-70 {
    margin-right: 70px;
  }

  .sm-m-r-75 {
    margin-right: 75px;
  }

  .sm-m-r-80 {
    margin-right: 80px;
  }

  .sm-m-r-85 {
    margin-right: 85px;
  }

  .sm-m-r-90 {
    margin-right: 90px;
  }

  .sm-m-r-95 {
    margin-right: 95px;
  }

  .sm-m-r-100 {
    margin-right: 100px;
  }

  .sm-m-b-0 {
    margin-bottom: 0px;
  }

  .sm-m-b-5 {
    margin-bottom: 5px;
  }

  .sm-m-b-10 {
    margin-bottom: 10px;
  }

  .sm-m-b-15 {
    margin-bottom: 15px;
  }

  .sm-m-b-20 {
    margin-bottom: 20px;
  }

  .sm-m-b-25 {
    margin-bottom: 25px;
  }

  .sm-m-b-30 {
    margin-bottom: 30px;
  }

  .sm-m-b-35 {
    margin-bottom: 35px;
  }

  .sm-m-b-40 {
    margin-bottom: 40px;
  }

  .sm-m-b-45 {
    margin-bottom: 45px;
  }

  .sm-m-b-50 {
    margin-bottom: 50px;
  }

  .sm-m-b-55 {
    margin-bottom: 55px;
  }

  .sm-m-b-60 {
    margin-bottom: 60px;
  }

  .sm-m-b-65 {
    margin-bottom: 65px;
  }

  .sm-m-b-70 {
    margin-bottom: 70px;
  }

  .sm-m-b-75 {
    margin-bottom: 75px;
  }

  .sm-m-b-80 {
    margin-bottom: 80px;
  }

  .sm-m-b-85 {
    margin-bottom: 85px;
  }

  .sm-m-b-90 {
    margin-bottom: 90px;
  }

  .sm-m-b-95 {
    margin-bottom: 95px;
  }

  .sm-m-b-100 {
    margin-bottom: 100px;
  }

  .sm-m-l-0 {
    margin-left: 0px;
  }

  .sm-m-l-5 {
    margin-left: 5px;
  }

  .sm-m-l-10 {
    margin-left: 10px;
  }

  .sm-m-l-15 {
    margin-left: 15px;
  }

  .sm-m-l-20 {
    margin-left: 20px;
  }

  .sm-m-l-25 {
    margin-left: 25px;
  }

  .sm-m-l-30 {
    margin-left: 30px;
  }

  .sm-m-l-35 {
    margin-left: 35px;
  }

  .sm-m-l-40 {
    margin-left: 40px;
  }

  .sm-m-l-45 {
    margin-left: 45px;
  }

  .sm-m-l-50 {
    margin-left: 50px;
  }

  .sm-m-l-55 {
    margin-left: 55px;
  }

  .sm-m-l-60 {
    margin-left: 60px;
  }

  .sm-m-l-65 {
    margin-left: 65px;
  }

  .sm-m-l-70 {
    margin-left: 70px;
  }

  .sm-m-l-75 {
    margin-left: 75px;
  }

  .sm-m-l-80 {
    margin-left: 80px;
  }

  .sm-m-l-85 {
    margin-left: 85px;
  }

  .sm-m-l-90 {
    margin-left: 90px;
  }

  .sm-m-l-95 {
    margin-left: 95px;
  }

  .sm-m-l-100 {
    margin-left: 100px;
  }

  .sm-pad-0 {
    padding: 0px;
  }

  .sm-pad-5 {
    padding: 5px;
  }

  .sm-pad-10 {
    padding: 10px;
  }

  .sm-pad-15 {
    padding: 15px;
  }

  .sm-pad-20 {
    padding: 20px;
  }

  .sm-pad-25 {
    padding: 25px;
  }

  .sm-pad-30 {
    padding: 30px;
  }

  .sm-pad-35 {
    padding: 35px;
  }

  .sm-pad-40 {
    padding: 40px;
  }

  .sm-pad-45 {
    padding: 45px;
  }

  .sm-pad-50 {
    padding: 50px;
  }

  .sm-pad-55 {
    padding: 55px;
  }

  .sm-pad-60 {
    padding: 60px;
  }

  .sm-pad-65 {
    padding: 65px;
  }

  .sm-pad-70 {
    padding: 70px;
  }

  .sm-pad-75 {
    padding: 75px;
  }

  .sm-pad-80 {
    padding: 80px;
  }

  .sm-pad-85 {
    padding: 85px;
  }

  .sm-pad-90 {
    padding: 90px;
  }

  .sm-pad-95 {
    padding: 95px;
  }

  .sm-pad-100 {
    padding: 100px;
  }

  .sm-text-left {
    text-align: left !important;
  }

  .sm-text-right {
    text-align: right !important;
  }

  .sm-text-center {
    text-align: center !important;
  }

  .logo img {
    width: 160px;
    height: 15px;
  }

  .site-header {
    height: 123px;
  }

  body {
    padding-top: 133px;
  }

  .container-fluid {
    padding-left: 6px;
    padding-right: 6px;
  }

  .nav-trigger {
    display: block;
    font-size: 36px;
    width: 35px;
    height: 44px;
    line-height: 44px;
  }

  .col-header-right {
    width: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }

  .col-nav {
    margin-left: auto;
    max-width: 50px;
    -ms-flex: 0 1 50px;
    flex: 0 1 50px;
  }

  .col-logo {
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .col-logo .logo {
    padding-left: 44px;
  }
  .col-logo .logo img {
    margin: auto;
  }

  .col-search, .col-location {
    max-width: none;
    -ms-flex: 1;
    flex: 1;
  }

  .col-search {
    margin-bottom: 15px;
  }

  .col-location {
    display: none;
  }

  .search .search-control {
    max-width: 100%;
  }

  .address {
    min-width: 0;
  }

  .address .location {
    font-size: 0;
  }

  .row-coupons .col {
    max-width: 50%;
    flex: 50%;
  }

  .deal-of-month {
    display: block;
  }

  .deal-title {
    width: 100%;
    -ms-flex: 100%;
    flex: 100%;
    height: auto;
    min-height: 0;
    padding: 20px;
    border-bottom: 0;
    border-right: 1px solid #e3e3e3;
  }

  .deal-month-carousel, .deal-carousel {
    max-width: 100%;
    border-top: 0;
    border-left: 1px solid #e3e3e3;
  }

  .deal-title h3 br {
    display: none;
  }

  .deal-title time {
    margin: 0px auto 10px;
  }

  .tab-offer li {
    height: 100px;
  }

  .site-nav {
    top: 43px;
    width: 100%;
  }

  .site-footer {
    padding: 20px;
  }

  .footer-terms {
    display: block;
  }
  .footer-terms .col {
    text-align: center !important;
  }
  .footer-terms .col + .col {
    margin-top: 10px;
  }

  .sidebar {
    max-width: 100%;
    -ms-flex: 100%;
    flex: 100%;
    -ms-flex-order: 2;
    order: 2;
  }

  .store-coupon-btns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .store-coupon-btns .btn {
    width: 100%;
    -ms-flex: 100%;
    flex: 100%;
    display: block;
  }
  .store-coupon-btns .btn + .btn {
    margin-top: 10px;
  }

  .cashback-rate-item {
    padding: 20px;
  }
  .cashback-rate-item .btn {
    display: block;
    width: 100%;
  }
  .cashback-rate-item .btn + .btn {
    margin-top: 10px;
  }
  .cashback-rate-item .btn br {
    display: none;
  }

  .store-details {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 12px 12px;
    max-height: none;
  }

  .product-terms {
    position: static;
    margin-top: 10px;
  }

  .store-btn-grp {
    width: 100%;
    max-width: none;
    margin: 10px -1%;
    display: block;
    position: static;
  }
  .store-btn-grp .btn {
    margin: 1%;
    -ms-flex: 47%;
    flex: 47%;
    max-width: 47%;
  }

  .store-social-links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .store-shoppinguide-header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .store-guide-logo {
    margin-bottom: 15px;
  }

  .store-guide-author {
    width: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin-top: 15px;
  }

  .tabs-contents .coupon-deal-item {
    min-width: 250px;
  }

  .search-focused .search-control {
    font-size: 16px;
    height: 35px;
    padding-left: 0;
    padding-right: 45px;
  }
  .search-focused .search-form-wrapper-inner {
    margin-right: 60px;
  }
  .search-focused button {
    width: 35px;
    height: 35px;
    font-size: 30px;
  }
  .search-focused .search-form-wrapper {
    padding: 15px;
  }
  .search-focused .search-close {
    right: 30px;
    top: 16px;
  }
  .search-focused .search-area-content-wrapper {
    margin-top: 0;
    max-width: 450px;
  }
  .search-focused .search-area-content {
    max-height: calc(100vh - 65px);
  }

  .hot-deals-list-wrap {
    margin-left: 0;
  }

  .carousel-1 a {
    width: 100%;
  }
  .carousel-1 .item {
    width: 100%;
  }

  .col-product {
    min-width: 100%;
  }

  .weekly-offer-carousel {
    max-width: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }

  .xs-tab-2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #FFF;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .xs-tab-2.blue {
    background-color: #2d67b2;
  }
  .xs-tab-2 li {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    height: auto;
    box-shadow: 1px 1px  #e3e3e3 inset;
  }
  .xs-tab-2 li a {
    padding: 10px;
    border: none;
    background-color: transparent;
    box-shadow: 1px 1px  #e3e3e3;
  }
  .xs-tab-2 li + li {
    border-left: 0;
  }
  .xs-tab-2 li + li a {
    margin-left: 0;
  }

  .ans-votes {
    line-height: 1;
    border-right: 1px solid #e3e3e3;
    padding-right: 20px;
    padding-left: 0px;
    margin-right: 10px;
  }

  .sec-menu-wrapper {
    margin-top: 0;
  }

  .lang-list {
    column-count: 3;
  }

  .fltg-prce-bar {
    display: none;
  }

  .product-section-group {
    padding-right: 0;
  }

  .tab-product-container {
    height: auto;
  }

  .tab-product-top .tab-product {
    position: static;
  }

  .carousel-main {
    width: 100%;
  }

  .stor-srch-bar-reached .store-search-bar-inner {
    top: 123px;
  }

  .user-side-menu {
    width: 100%;
  }

  .acc-stng-lbl {
    width: auto;
  }

  .sm-order-last {
    order: 99;
  }
}

/*# sourceMappingURL=_responsive.css.map */
