/* CSS Document */
.nav-trigger, .sec-nav-trigger{
    display: none;
}
@media (max-width:1585px){
    .logo{
        margin-right: 15px;
    }
    .site-nav li{
        margin-left: 15px;
    }
    .nav-sec li + li {
        margin-left: 7px;
    }
}
@media (min-width:1169px) and  (max-width:1599px){
    .col-offer-item{
        max-width: 20%;
        -ms-flex:20%;
        flex:20%;
    }
}
@media (min-width:1600px){
    .col-product-search{
         max-width: 20%;
        -ms-flex:20%;
        flex:20%;
    }
}
@media (max-width:1465px){
    
    .nav-sec{
        li+li{
            margin-left: 10px;
        }
        a{
            font-size: 10.5px;
        }
    }
    .login-btn{
        font-size: 10.5px;
    }
    .logo{
        margin-right: 0;
        img{
            width: 180px;
            height: auto;
        }
    }
    .site-nav {
        li{
            margin-left: 10px;
        }
        a{
        font-size: 12px;
    }}
    .sec-menu-wrapper{
        position: relative;
    }
    
    
    
    /*.row-coupons .col{
        max-width: 20%;
        flex: 20%;
    }*/
    .monthly-deal-item{
        width: 230px;
    }
    .search-focused{
        .search-form-wrapper{
            .search-control{
                font-size: 50px;
            }
            button{
                font-size: 65px;
            }
        }
         
    }
    .col-product{
        width: 100/5*1%;
    }
}
@media (max-width:1465px) and  (min-width:1246px){
    .all-category-list .col-6{
        -ms-flex: 25%;
        flex: 25%;
        max-width: 20%;
    }
    .col-store-item{
        max-width: 20%;
        -ms-flex: 20%;
        flex: 20%;
    }
}
@media (max-width:1245px){
    .site-header{
        margin-bottom: 15px;
    }
    .site-nav{
        display: none;
        position: absolute;
        position: absolute;
        z-index: 90;
        background-color: #FFF;
        border: 1px solid #e3e3e3;
        min-width: 200px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        left: 0;
        top: 83px;
        width: 320px;
        ul{
            display: block;
        }
        li{
            display: block;
            margin: 0;
            &.current a{
                box-shadow: none;
            }
        }
        a{
             display: -ms-flexbox;
            display: flex;
            font-size: 16px;
            align-items: center;
            padding: 10px;
            .material-icons{
                margin: 0 15px 0 0;
            }
        }

    }
    .nav-trigger{
        display: block;
        font-size: 33px;
        width: 35px;
        height: 83px;
        line-height: 83px;
        .material-icons{
            vertical-align: top;
        }
    }
    .col-nav.nav-show{
        position: static;
    }
    .col-nav.nav-show .site-nav{
        display: block;
    }
    .item-deal {
        width: 250px;
    }
    .col-product{
        width: 100/4*1%;
    }
    .carousel-main {
        width: 250px;
    }
    .tab-product li a{
        padding-left: 3px;
        padding-right: 3px;
        font-weight: 400;
        font-size: 11px;
    }
    .tab-product li + li a {
        margin-left: 2px;
    }
    .tab-product li.current a{
        font-weight: 400;
    }
    .store-product-item {
        min-width: 0;
    }
    .product-image {
        width: 275px;
        margin: auto;
        text-align: center;
    }
}
@media (max-width:991px){
    $list: (top:t,  right:r, bottom:b, left:l);
    @each $l, $value in $list{
        @for $i from 0 through 20{
            .md-m-#{$value}-#{$i*5} {
                margin-#{$l}: $i * 5+px;
            }
        }
    }
    @for $i from 0 through 20{
        .md-pad-#{$i*5} {
            padding: $i * 5+px;
        }
    }
    .nav-sec{
        display: none !important;
        position: absolute;
        z-index: 90;
        background-color: #FFF;
        border: 1px solid #e3e3e3;
        min-width: 200px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        left: -10px;
        top: 22px;
        li{
            display: block;
            margin: 0 !important;
        }
        a{
            display: block;
            padding: 5px 10px;
            
            &:hover{
                text-decoration: none;
                background-color: #f2f2f2;
            }
        }
    }
    .nav-show .nav-sec{
        display: block !important;
    }
    .sec-nav-trigger{
        display: block;
        line-height: 18px;
        i{
            font-size: 18px;
            line-height: 1;
            vertical-align: top;
        }
    }
    .col-banner{
        display: none;
    }
    .deal-title {
        width: 226px;
        -ms-flex: 0 0 226px;
        flex: 0 0 226px;
    }
    .deal-title-sm {
        width: 170px;
        -ms-flex: 0 0 170px;
        flex: 0 0 170px;
    }
    .deal-month-carousel, .deal-carousel{
        max-width: calc(100% - 226px);
        -ms-flex: calc(100% - 226px);
        flex: calc(100% - 226px);
        margin-right: 0;
    }
    .row-coupons .col{
        max-width: 25%;
        -ms-flex: 25%;
        flex: 25%;
    }
    .deal-title h3{
        font-size: 24px;
    }
    .deal-title-sm h3{
        font-size: 16px;
    }
    .tab-offer{
        flex-wrap: wrap;
        border-bottom: 0;
        li{
            -ms-flex: 20%;
            flex: 20%;
            border-bottom: 1px solid #e3e3e3;
    }}
    .search-focused{
        .search-control{
            font-size: 20px;
            height: 40px;
        }
        button{
            width: 40px;
            height: 40px;
            font-size: 30px;
        }
        .search-form-wrapper{
            padding: 50px 15px 15px;
        }
        .search-close{
            right:20px;
        }
    }
    .col-product{
        width: 100/2*1%;
    }
    .md-order-last{
        order:99;
    }
    .product-image {
        width: auto;
        margin: auto;
        text-align: center;
    }
}
@media (max-width:767px){
    $list: (top:t,  right:r, bottom:b, left:l);
    @each $l, $value in $list{
        @for $i from 0 through 20{
            .sm-m-#{$value}-#{$i*5} {
                margin-#{$l}: $i * 5+px;
            }
        }
    }
    @for $i from 0 through 20{
        .sm-pad-#{$i*5} {
            padding: $i * 5+px;
        }
    }
    .sm-text-left{
        text-align: left!important;
    }
    .sm-text-right{
        text-align: right!important;
    }
    .sm-text-center{
        text-align: center!important;
    }
    .logo img {
        width: 160px;
        height: 15px;
    }
    .site-header{
        height: 123px;
    }
    body{
        padding-top: 133px;
    }
    .container-fluid {
        padding-left: 6px;
        padding-right: 6px;
    }
    .nav-trigger {
        display: block;
        font-size: 36px;
        width: 35px;
        height: 44px;
        line-height: 44px;
    }
    .col-header-right{
        width: 100%;
        -ms-flex:100%;
        flex:100%;
    }
    .col-nav{
        margin-left: auto;
        max-width: 50px;
        -ms-flex:0 1 50px;
        flex:0 1 50px;
    }
    .col-logo{
        -ms-flex:1;
        flex:1;
        text-align: center;
        .logo{
            padding-left: 44px;
            img{
                margin: auto;
            }
        }
    }
    .col-search,.col-location{
        max-width:none;
        -ms-flex:1;
        flex:1;
    }
    .col-search{
        margin-bottom: 15px;
    }
    .col-location{
        display: none;
    }
    .search .search-control{
        max-width: 100%;
    }
    .address{
        min-width: 0;
    }
    .address .location{
        font-size: 0;
    }
    .row-coupons .col{
        max-width: 50%;
        flex: 50%;
    }
    .deal-of-month{
        display: block;
    }
    .deal-title {
        width: 100%;
        -ms-flex:100%;
        flex:100%;
        height: auto;
        min-height: 0;
        padding: 20px;
        border-bottom: 0;
        border-right: 1px solid #e3e3e3;
    }
    .deal-month-carousel, .deal-carousel{
        max-width: 100%;
        border-top: 0;
        border-left: 1px solid #e3e3e3;
    }
    .deal-title h3 br{
        display: none;
    }
    .deal-title time{
        margin: 0px auto 10px;
    }
    .tab-offer li{
        height: 100px;
    }
    .site-nav {
        top: 43px;
        width: 100%;
    }
    .site-footer{
      padding: 20px;   
    }
    .footer-terms{
        display: block;
        .col{
            text-align: center !important;
            &+.col{
                margin-top: 10px;
            }
        }
    }
    .sidebar{
        max-width: 100%;
        -ms-flex: 100%;
        flex: 100%;
        -ms-flex-order: 2;
        order: 2;
    }
    .store-coupon-btns{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .btn{
        width: 100%;
        -ms-flex:100%;
        flex:100%;
        display: block;
            &+.btn{
                margin-top: 10px;
            }
        }
    }
    .cashback-rate-item{
        padding: 20px;
        .btn{
            display: block;
            width: 100%;
            &+.btn{
                margin-top: 10px;
            }
            br{
                display: none;
            }
        }
    }
    .store-details{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 30px 12px 12px;
        max-height: none;
    }
    .product-terms {
        position: static;
        margin-top: 10px;
    }
    .store-btn-grp{
        width: 100%;
        max-width: none;
        margin:10px -1%;
        display: block;
        position: static;
        .btn{
            margin: 1%;
            -ms-flex:47%;
            flex:47%;
            max-width:47%;
        }   
    }
    .store-social-links{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .store-shoppinguide-header{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .store-guide-logo{
        margin-bottom: 15px;
    }
    .store-guide-author{
        width: 100%;
        -ms-flex:100%;
        flex:100%;
        margin-top: 15px;
    }
    .tabs-contents{
        .coupon-deal-item{
            min-width: 250px;
        }
    }
    .search-focused{
        .search-control{
            font-size: 16px;
            height: 35px;
            padding-left: 0;
            padding-right: 45px;
        }
        .search-form-wrapper-inner{
            margin-right: 60px;
        }
        button{
            width: 35px;
            height: 35px;
            font-size: 30px;
        }
        .search-form-wrapper{
            padding: 15px;
        }
        .search-close{
            right: 30px;
            top: 16px;
        }
        .search-area-content-wrapper{
            margin-top: 0;
             max-width: 450px;   
        }
        .search-area-content {
            max-height: calc(100vh - 65px);
        }
    }
    .hot-deals-list-wrap{
        margin-left: 0;
    }

    .carousel-1 {
        a {
            width: 100%;
        }
        .item {
            width: 100%;
        }
    }
    .col-product{
        width: 100/1*1%;
    }
    .weekly-offer-carousel{
        max-width: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }
    .xs-tab-2{ 
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background-color: #FFF;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        &.blue{
            background-color: #2d67b2;
        }
        li{
            -ms-flex:50%;
            flex:50%;
            max-width: 50%;
            height: auto;  
            box-shadow: 1px 1px  #e3e3e3 inset;
            a{
                padding: 10px;
                border: none;
                background-color: transparent;
                box-shadow: 1px 1px  #e3e3e3;
            }
        }
        li+li{
            border-left: 0;
            a{
                margin-left: 0;
            }
        }
    }
    .ans-votes {
        line-height: 1;
        border-right: 1px solid #e3e3e3;
        padding-right: 20px;
        padding-left: 0px;
        margin-right: 10px;
    }
    .sec-menu-wrapper{
        margin-top: 0;
    }
    .lang-list{
        column-count: 3;
    }
    .fltg-prce-bar{
        display: none;
    }
    .product-section-group{
        padding-right: 0;
    }
    .tab-product-container{
        height: auto;
    }
    .tab-product-top {
        .tab-product {
            position: static;
        }
    }
    .carousel-main {
        width: 100%;
    }
    .stor-srch-bar-reached .store-search-bar-inner{    
        top: 123px;
    }
    .user-side-menu{
        width: 100%;
    }
    .acc-stng-lbl{
        width: auto;
    }
    .sm-order-last{
        order: 99;
    }
    .product-image {
        width:auto;
        max-width: 400px;
        text-align: center;
    }
}