/* CSS Document */
@import 'animate/base';
@import 'animate/bouncing_entrances/bounceInLeft';
@import "fa-svg-with-js";
@import 'sass-material-colors-classes';

@mixin page-fit {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%; 
}
body{
    font-size: 14px;
    background-color: #F5F5F5;
    font-family: sans-serif;
}
figure{
    margin: 0;
}
hr{
    border: 1px solid #e3e3e3;
    border-bottom: 0;
    margin: 20px 0;
}
input{
    &:focus{
        outline: none;
    }
}
a, button, input{
    &:focus{
        outline: none;
    }
}
.gutters-xs{
    margin-left: -1px;
    margin-right: -1px;
    [class*="col"]{
        padding-left: 1px;
        padding-right: 1px;
    }
}
.gutters-md{
    margin-left: -15px;
    margin-right: -15px;
    .col, [class*="col-"]{
        padding-left: 15px;
        padding-right: 15px;
    }
}
.list{
    padding-left: 1.5em;

}
.table-reset, .table-reset>td,.table-reset>th {
    padding: 0;
    border: none;
}
ul.list{
    list-style: none;
    padding-left: 0;
    li{
        padding-left: 1.5em;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0.5em;
            background-color: #ccc;
            width: 6px;
            height: 6px;
            border-radius: 5px;
        }  
    }
}
ul.list-checked{
    li{
        &:before{
            content: '\E5CA';
            font-family: "Material Icons";
            background-color: transparent;
            border-radius: 0;
            color: #2d67b2;
            top:0;
        }
    }
    
}
ul.list-angle{
    li{
        &:before{
            content: '\E315';
            font-family: "Material Icons";
            background-color: transparent;
            border-radius: 0;
            color: #2d67b2;
            top:0;
        }
    }
    
}
.vr{
    border-left: 1px solid #e3e3e3;
    margin: 0 20px;
    min-height: 100%;
}
.hover-no-deco:hover{
    text-decoration: none;
}
.goto-top{
    position: fixed;
    bottom: -120px;
    display: block;
    z-index: 99;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    background-color: #FFF;
    color: #2d67b2;
    font-size: 25px;
    box-shadow: 0 1px 7px 2px rgba(0,0,0,0.2);
    text-align: center;
    backface-visibility: hidden;
    transition: 0.4s ease;
    &:hover{
        background-color: #2d67b2;
        color: #FFF;
    }
    .scrolled &{
        bottom:20px;
    }
}

.flickity-prev-next-button{
    border-radius: 0;
    &:hover{
        background-color: #EC6725;
        .arrow{
            fill:#FFF;
        }
    }
}
.owl-carousel:not(.flickity-enabled ){
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    .item{
        margin-right: 10px;
    }
    .coupon-item{
        white-space: nowrap;
    }
}
.carousel-4 a{
    display: block;
    width: 400px;
}
.carousel-1 {
    a{
        display: block;
        width: 400px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.carousel-1, .carousel-4 {.item,.carousel-cell{
    width: 400px;
    margin-right: 10px;
}}
.carousel-b{
    .item{
        width: 400px;
        margin-right: 10px;
    }
}
.monthly-deal-item{
    width: 250px;
}
.carousel-2-container{
    margin: 0 -5px;
}
.item-deal{
    width: 20%;
    padding: 0 5px;
}
.border{
    border-color: #e3e3e3 !important;
}
.material-icons{
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle;
}
.container-fluid{
    padding-left: 10px;
    padding-right: 10px;
}
@for $i from 10 through 50{
    .f-#{$i} {
            font-size: $i+px;
    }
}
@for $i from 0 through 9{
    .l-1-#{$i} {
        line-height: 1+$i*0.1;
    }
}
$list: (top:t,  right:r, bottom:b, left:l);
@each $l, $value in $list{
    @for $i from 0 through 20{
        .m-#{$value}-#{$i*5} {
            margin-#{$l}: $i * 5+px;
        }
    }
}
$colors: (
    'white': #FFF,
    'black': #000,  
    'green': #27ae61, 
    'grey': #747474,
    'grey-light': #aaa,
    'grey-lighter': #ccc,
    'grey-lighter-2': #eee,
    'grey-lighter-3': #f9f9f9,
    'dark': #333,
    'orange': #f26722,
    'purple': #532a76,
    'blue': #2d67b2,
    'red': #dd3540,
    'yellow': #f79d11,
    'mag': #dc16b0,
    'cyan': #2ac6d0,
    'cyan-dark': #248f9f    
);

@each $c, $color in $colors{
    .#{$c} {
        background-color: $color;
    }
    .#{$c}-text {
        color: $color;
    }
    .#{$c}-border, .circle-stroke.#{$c}-border, .#{$c}-border-hover:hover {
        border-color: $color !important;
    }
    .btn.#{$c}{
        @if $c =='grey-lighter-2' or $c =='grey-lighter' or $c =='white'{
           color: #000; 
        }
        @else{
           color: #FFF; 
        }    
        &:hover, &[aria-expanded="true"]{
            @if $c =='grey-lighter-2' or $c =='grey-lighter' or $c =='white' {
               color: #000; 
            }
            @else{
               color: #FFF; 
            } 
            background-color: saturate(darken( $color, 10%), 10%);
            border-color: saturate(darken( $color, 10%), 10%) !important;
        }
    }
    a.#{$c}-text{
        &:hover{
            color: saturate(darken( $color, 10%), 10%);
        }
    }
    #{$c} .box-separator{
        background-color: $color;
    }
}
@for $i from 0 through 20{
    .pad-#{$i*5} {
        padding: $i * 5+px;
    }
}
.f-c{
    font-family: 'Oswald', sans-serif;
}
.w-300{
    font-weight: 300;
}.w-400{
    font-weight: 400;
}.w-700, .bold, stong{
    font-weight: 700;
}
.text-strike{
    text-decoration: line-through;
}
.list-unstyled{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.btn{
    display: inline-block;
    border-radius: 3px;
    padding: 6px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.btn-sm{
    padding: 3px 8px;
}
.btn-u {
  padding: 6px;
}
.list-unstyled{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.site-header{
    background-color: #FFF;
    border-bottom: 1px solid #E3E3E3;
    height: 83px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    backface-visibility: hidden;
}
body{
    padding-top: 93px;
}
.row-site-header{
    min-height: 83px;
}
.logo{
    margin: 0;
    line-height: 1;
    a, img{
        display: block;
    }
}
.col-nav{
    align-self: flex-end;
}
.img-full{
    width: 100%;
    height: auto;
}
.site-nav{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-start;
        ul{
            position: absolute;
            display: none;
            top: 80px;
            left: 0;
            column-count: 4;
            column-fill: balance;
            column-gap: 0;
           -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            font-size: 12px;
            background-color: #f5f5f5;
            border:1px solid #e5e5e5;
             
            li{
                display: block;
                margin: 0;
                height: auto;
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
               
                margin-bottom: 1px;
            }
            a{
                display: block;
                padding: 3px;
                height: auto;
                font-size: 12px;
                color: #333333 !important;
                text-align: left;
                font-family: sans-serif;
                text-transform: none;
                white-space: nowrap;
                box-shadow: none!important;
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
                box-shadow: 0 -1px #e5e5e5 inset !important;
                &:hover{
                    background-color: #FFF;
                }
            }
            .material-icons{
                line-height: normal;
                 font-size: 12px;
                display: inline-block;
                color: #2d67b2;
                margin: -1px 5px 0 5px;
                vertical-align: middle;
            }
        }
    }
    li{
        display: block;
        margin-left: 30px;
        text-align: center;
        -ms-flex:0 0 auto;
        flex:0 0 auto;
        
        position: relative;
        &:last-child{
            margin-right: 0;
        }
        &:hover>ul{
            display: block;
        }
    }
    a{
        display: block;
        padding: 10px 0;
        height: 80px;
        .material-icons{
            font-size: 30px;
            line-height: 34px;
            display: block;
            text-align: center;
            margin:0 auto 5px;
        }
    }
    a:hover{
        text-decoration: none;
    }
    .current a{
        box-shadow: 0 -2px #F26722 inset;
        color: #F26722;
    }
    .current:hover a{
        color: darken(#F26722,10%);
    }
}
.sec-menu-wrapper{
    //margin-right: auto;
    align-self: flex-start;
    margin-top:-5px;
    -ms-flex:1;
    flex:1;
}
.nav-sec{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    
    flex-wrap: nowrap;
    white-space: nowrap;
    li+li{
        margin-left: 10px;
    }
}
.notification{
    line-height: 22px;
    margin: 0 7px;
    display: block;
    width: 22px;
    text-align: center;
    height: 22px;
    i{
        top: -2px;
        position: relative;
        font-size: 19px;
    }
}
.login-btn{
    border:1px solid #E3E3E3;
    border-radius: 10px;
    position: relative;
    height: 22px;
    line-height: 20px;
    padding: 0 10px 0 0px;
    display: inline-block;
    margin-right: 7px;
     white-space: nowrap;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 20px;
        background-color: #E3E3E3;
        border-radius: 20px;
    }
    i{
        position: relative;
        width: 20px;
        top: 0;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
    }
    &:hover{
        background-color: #f5f5f5;
        text-decoration: none;
    }
}
.language-switch-trigger{
    white-space: nowrap;
}
.dropdown{
    position: relative;
    &:before{
        font-size: 20px;
        line-height: 1;
        vertical-align: middle;
        font-family: "Material Icons";
        content: '\E313';
        position: absolute;
        right: 0;
        top: 2px;
        z-index: 1;
    }
    select{
        position: relative;
        padding:2px 15px 2px 2px;
        background-color: transparent;
        border-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 65px;
        &:focus{
            outline: none;
        }
    }
    
}
.col-header-right{
    margin-bottom: 6px;
    margin-top: 6px;
}
.search{
    
    position: relative;
    top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    width:100%;
    .search-control{
        padding: 5px 15px;
        border: 1px solid #E3E3E3;
        border-right: none;
        font-size: 14px;
        height: 36px;
        -ms-flex:0 1 100%;
        flex:0 1 100%;
    }
    button{
        background-color: #F26722;
        color: #FFF;
        border: none;
        font-size: 24px;
        height: 36px;
        line-height: normal;
        cursor: pointer;
        -ms-flex:1;
        flex:1;
        i{
            line-height: 1;
            top: -2px;
            position: relative;
        }
    }
}
.search-form-wrapper{
    margin: auto;
     
}
.search-form-wrapper-inner{
     display: -ms-flexbox;
    display: flex;
    position: relative;
}
.search-close{
    display: none;
}
.search-dropdown{
    display: none;
}
.search-area-content{
    display: none;
}
.search-focused{
    overflow: hidden;
    .search{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f1f1f1;
        z-index: 99;
       
        transition: 0.3s ease;
        
    }
    .search-form-wrapper{
        padding: 50px;
    }
    .search-area-content{
        display: block;
        max-height: calc(100vh - 210px);
        overflow: auto;
    }
    .search-area-content-wrapper{
         max-width: 1170px;
        margin: 50px auto 0 ;
        padding: 0 15px;
    }
    .top-store-item{
        height: 85px;
        &:hover{
            text-decoration: none;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }
    }
    .search-control{
        transition: 0.3s ease;
        font-size: 60px;
        font-weight: 300;
         height: 110px;
        padding-right: 80px;
       border-color: transparent;
        background-color: transparent;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #c2c2c2;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #c2c2c2;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #c2c2c2;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #c2c2c2;
        }
    }
     .search-form-wrapper{
         button{
             transition: 0.3s ease;
             height: 110px;
             -ms-flex: 110px;
             flex: 110px;
             width: 110px;
             position: absolute;
             right: 0;
             top: 0;
             font-size: 80px;
             color: #DDDDDD;
             background-color: #f1f1f1;
             &:hover{
                color: #aaa;
            }
        }
    }
    .search-close{
        display: block;
        position: absolute;
        right:30px;
        top: 10px;
        font-size: 30px;
        line-height: 1;
        color:#DDDDDD;
        &:hover{
            color: #aaa;
        }
    }
    .search-dropdown{
        display: block;
        box-shadow: 0 1px 20px rgba(0,0,0,0.2);
        border-radius: 0 0 2px 2px;
        background-color: #FFF;
    }
}
.popular-links-wrap{
    li{
        margin-top: 7px;
        margin-bottom: 7px;
    }
    a{
        color: #3d3d3d;
        font-size: 13px;
    }
}
.autocomplete-shown{
    .search-dropdown{
        display: none;
    }
}
.search-pick:hover{
    box-shadow: 0 1px 8px rgba(0,0,0,0.15);
}
.search-trending-list{
    max-height: 408px;
    overflow: auto;
    border-top:1px solid #e3e3e3;
}
.search-preview{
    min-height: 280px;
}
.ui-autocomplete{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 20px rgba(0,0,0,0.2);
    font-size: 20px;
    max-height: 459px;
    overflow: auto;
    border-top: 0;
    .ui-menu-item{
        margin: 0;
        cursor: pointer;
        border-bottom: 1px solid #e3e3e3;
        &:hover{
            background-color: #f9f9f9;
        }
    }
    .ui-menu-item:last-child{
        border-bottom: 0;
    }
    .ui-menu-item-wrapper{
        padding: 10px;
    }
}
.search-preview-inner
{
    a{
        &:hover{
            text-decoration: none;
        }
    }
    img{
        max-height: 150px;
    }
}
.pick-title{
    border-bottom: 1px solid #e3e3e3;
    padding: 5px;
}
.pick-link{
    height: 120px;
    &:hover{
        text-decoration: none;
    }
}
.list-bordered{
    list-style: none;
    margin: 0;
    padding: 0;
    &>li{
       
        border-bottom: 1px solid #e3e3e3;
        a{
            display: block;
             padding: 10px;
            &:hover{
                text-decoration: none;
                background-color: #f9f9f9;
            }
            &.selected{
                background-color: #f9f9f9;
            }
            &.current{
                background-color: #2d67b2;
                color: #FFF;
            }
        }
    }
}

.address{
    border: 1px solid #E3E3E3;
    height: 36px;
     display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 2px 10px 2px 5px;
    min-width: 190px;
    position: relative;
    .current-locale{
        font-size: 24px;
        line-height: 1;
        color: #afafaf;
        display: block;
        width: 1em;
        margin-right: 5px;
        text-align: center;
        i{
            display: block;
        }
    }
    .flag{
        margin-right: 5px;
        vertical-align: middle;
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    .location{
        flex:1;
        .location-search{
            max-width: 100%;
            width: 110px;
            min-width: 0;
            border: none;
        }
    }
}
.current-location{
    display: none;
    position: absolute;
    top: 36px;
    left: -1px;
    right: -1px;
    height: 36px;
    border: 1px solid #e3e3e3;
    background-color: #FFF;
    line-height: 34px;
    padding: 0 5px;
    &.show{
        display: block;
    }
    i{
        font-size: 24px;
    }
    &:hover{
        background-color: #2d67b2;
        border-color: #2d67b2;
        color: #FFF;
        text-decoration: none;
    }
}
.col-header-right{
}
.owl-nav{
    .owl-prev,.owl-next{
        background-color: #F26722;
        display: block;
        width: 32px;
        height: 32px;
        font-family: "Material Icons";
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        color: #FFF;
        position: absolute;
        margin-top: -16px;
        top: 50%;
    }
    .owl-prev{
      left:10px;   
    }
    .owl-next{
        right:10px;
    }
    .owl-prev.disabled,
    .owl-next.disabled{
        opacity: 0.2;
    }
    
}
.nav-min{
    .owl-prev,.owl-next{
        background-color: transparent;
        color: #000;
        &:hover{
            background-color: #eee;
        }
    }
}
.coupon-item{
    box-shadow:1px 1px #E3E3E3;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    color: #424a5c;
    transition: 0.3s ease;
    figure{
        margin: 0;
        height: 55px;
        padding: 0 15px;
         display: -ms-flexbox;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    img{
        align-self:center;
        transition: 0.3s ease;
        max-width: 100%;
        max-height: 100%;
    }
    &:hover{
        text-decoration: none;
        box-shadow:1px 1px #E3E3E3, 0 2px 10px rgba(0,0,0,0.15);
        img{
            transform: scale(1.1, 1.1);
        }
    }
}
.weekly-offer .coupon-item{
    text-align: center;
    height: auto;
    padding: 10px;
    figure{
        height: 27px;
        padding: 5px 0;
        margin-bottom: 0px;
    }
    img{
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
    }
}
.row-coupons{
    .col{
        max-width: 12.5%;
        flex: 12.5%;
    }
}
.offers{
    border:1px solid #E3E3E3;
}
.tab-offer, .tabs{
    border-bottom:1px solid #e3e3e3;
     display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        flex:10%;
        text-align: center;
        height: 76px;
        font-family: Oswald, sans-serif;
        font-weight: 300;
        .material-icons{
            display: block;
            font-size: 26px;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
             display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333333;
            &:hover{
                text-decoration: none;
                background-color: #f9f9f9;
            }
            &.selected{
                box-shadow: 0 -2px #F26722 inset,0 1px #F26722; 
            }
        }
    }
    li+li{
        border-left:1px solid #e3e3e3;
    }
}
.tab-blue{
    li{
    a{
        color: #FFF;
         &:hover{
                text-decoration: none;
                background-color: #124586;
            }
    }
    }
    li+li{
        border-left:1px solid #124586;
    }
}
.notification-wrap{
    position: relative;
}
.notification-dropdown{
    display: none;
    z-index: 90;
    width: 280px;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 4px 8px -3px rgba(0,0,0,0.2), 0 -1px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    left: 50%;
    top: 27px;
    margin-left: -(280/2)+px;
    .notifiction-show &{
         display: block;
    }
    &:before,&:after{
        content: '';
        border:7px solid;
        border-top: none;
        border-color: transparent transparent  #fff transparent;
        position: absolute;
        top: -7px;
        left: 50%;
        margin-left: -7px;
    }
    &:before{
        border-color: transparent transparent  #e3e3e3 transparent;
        top: -8px;
    }
    .title{
        text-align: center;
        padding: 10px 5px;
        border-bottom: 1px solid #e3e3e3;
    }
    .body{
        padding: 30px 20px;
    }
    .not-logged{
        text-align: center;
    }
}
.view-all{
    display: block;
    margin: 7px;
    background-color: #F5F5F5;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    font-family: Oswald;
    font-weight: 400;
    color: #f26722;
    &:hover{
        color: #f26722;
        background-color: #ECECEC;
    }
}
.deal-item{
    border:1px solid #e3e3e3;
    background-color: #FFF;
    text-align: center;
    font-size: 15px;
    figure{
        position: relative;
        margin: 0;
        padding: 0;
        height: 169px;
        overflow: hidden;
        img{
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    figcaption{
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        color: #FFF;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px 24px;
        text-align: center;
    }
    .time, time{
        color:#F26722;
        height: 34px;
        line-height: 34px;
        display: block;
    }
    
    .btn.green{
        display: block;
        margin-bottom: 10px;
    }
}
.deal-item-info{
        padding: 0 12px 12px;
    }
.deal-code{
    margin-bottom: 10px;
}
.no-code{
    height: 34px;
    background-color: #F5F5F5;
    line-height: 34px;

}
.old-deal, .all-deals{
    color: #a8a8a8;
    line-height: 33px;
}
.box{
    background-color: #FFF;
    border:1px solid #e3e3e3;
    padding: 8px 14px 14px 14px;
}
.box.no-title{
     padding: 14px;
}
.deal-logo{
    height: 50px;
    padding: 10px;
     display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width:auto !important;
        align-self: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.copy-code{
     display: -ms-flexbox;
    display: flex;
    .code-cont{
        flex:1;
        text-align: left;
        padding: 5px 10px;
        height: 34px;
        background-color: #F5F5F5;
        border: 1px dashed #3F3F3F;
        border-right: 0;
        border-radius: 3px 0 0 3px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            background: transparent url(../img/scissors.png) no-repeat  0 0 scroll;
            width: 27px;
            height: 21px;
            left: 6px;
            top: -12px;
        }
    }
}
.btn.code-copy-action{
    padding-left: 12px;
    padding-right: 12px;
}
.deal-title{
    width: 230px;
    flex:0 0 230px;
    min-height: 343px;
     display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fff9f9 99%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#fff9f9 99%);
    background: linear-gradient(to bottom, #ffffff 0%,#fff9f9 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff9f9',GradientType=0 );
    border:1px solid #e3e3e3;
    border-right: none;
    padding: 0 20px;
    time, .time{
        display: block;
        line-height: 1;
        margin: 25px 0;
        i{
            margin-top: -3px;
        }
    }
}
.col-banner{
    width: 240px;
    background-color: #FFF;
}
.deal-title-sm{
    height: auto;
    min-height: 0;
    width: 170px;
    -ms-flex: 0 0 170px;
    flex: 0 0 170px;
}
.deal-carousel{
    width: calc(100% - 230px);
    -ms-flex: calc(100% - 230px);
    flex: calc(100% - 230px);
    background-color: #FFF;
    border:1px solid #e3e3e3;
    border-left: none;
}
.weekly-offer{
    .coupon-item{
        width:175px;
    }
}
.weekly-offer-carousel{
    max-width: calc(100% - 170px);
    -ms-flex: calc(100% - 170px);
    flex: calc(100% - 170px);
    background-color: #FFF;
    border:1px solid #e3e3e3;
    border-left: none;
}
.deal-month-carousel{
    max-width: calc(100% - 482px);
    -ms-flex: calc(100% - 482px);
    flex: calc(100% - 482px);
    margin-right: 13px;
    background-color: #FFF;
    border:1px solid #e3e3e3;
    border-left: none;
}
.deal-of-month{ flex-wrap: nowrap;}
.monthly-deal-item, .coupon-deal-item, .offer-item{
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    text-decoration: none;
     transition: 0.3s ease;
    &:not(.offer-item):hover{
        text-decoration: none;
        background-color: #f2f2f2;
    }
    figure{
        height: 230px;
        padding: 20px;
         display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            display: block;
            height: 100%;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    img{
        width: auto !important;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        align-self: auto;
        transition: 0.3s ease;
    }
    &:hover figure img{
        transform: scale(1.1,1.1);
    }
}
.store-product-item{
    min-width: 220px;
    margin: auto;
}
.line-sep{
    border-top:1px solid #e3e3e3;
}
.coupon-info{
    width: 195px;
    margin: 0 auto;
    border-bottom:1px solid #e3e3e3;
    margin-bottom: 10px;
    .line-sep{
        min-height: 34px;
    }
}
.btn-coupon{
    padding: 5px 8px;
    border: 1px dashed #000;
    border-radius: 0;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        background: transparent url(../img/scissors.png) no-repeat  0 0 scroll;
        width: 27px;
        height: 21px;
        left: -14px;
        top: -12px;
    }
}
.site-footer{
    background: #FFF;
    border-top:#e3e3e3 1px solid;
    padding: 27px 38px;
}
.footer-links{
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 255px;
    font-size: 12px;
    margin-bottom: 25px;
    li{
        
    }
    a{
        display: block;
        border-bottom: 1px solid #e3e3e3;
        padding: 4px 0;
        color: #7f7474;
    }
    li:last-child a{
        border-bottom: 0;
    }
}
.footer-action-item {
    line-height: 1.2;
    border-top:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
    height: 95px;
    
}
.footer-action-item + .footer-action-item {
        border-left: 1px solid #e3e3e3;
    }
.footer-terms{
    padding:10px 0;
    border-bottom:1px solid #e3e3e3;
    border-top:1px solid #e3e3e3;
}
.social-links a{
    margin-left: 3px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 30px;
    background-color: #414346;
    color: #FFF;
    text-align: center;
    transition: 0.3s ease;
    &:hover{
        transform: scale(1.15,1.15);
    }
}
.fb:hover{
    background-color: #4267B2;
}
.tw:hover{
    background-color: #1DA1F2;
}.gp:hover{
    background-color: #DB4437;
}.yt:hover{
    background-color: #FF0000;
}
.top-story{
    padding: 10px 0;
}
.cat-links{
    color: #333;
    line-height: 1.72;
    a{
        color: #333;
    }
    span{
        color: #7f7474;
        text-transform: uppercase;
    }
}
.footer-contact{
    border-top:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
    margin-top:20px;
    line-height: 24px;
    font-size: 12px;
    h4{
        margin-bottom: 0;
    }
}
.footer-contact-item{
    padding-top: 20px;
    padding-bottom: 20px;
    &+.footer-contact-item{
        border-left:1px solid #e3e3e3;
        padding-left: 20px;
    }
}
.footer-infos{
    padding: 20px 0;
    line-height: 24px;
    color: #7f7474;
    h4{
        font-size: 14px;
        margin: 0;
        font-weight: 700;
    }
    p{
        font-size: 12px;
        margin-bottom: 24px;
    }
}
.store-details{
    max-height: calc(100vh - 191px);
    padding: 20px;
    position: relative;
    background-color: #2d67b2;
    &:before{
        content: '';
        position: absolute;
        //background-color: rgba(0,0,0,0.3);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    .breadcrumb{
        position: absolute;
        top: 15px;
        left: 15px;
        color: #FFF;
        z-index: 4;
        line-height: 1;
        a{
            color: #FFF;
            font-size: 12px;
        }
    }
}
.video-wrapper{
    @include page-fit;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.store-logo{
    margin-top: 0;
    img{
        max-width: 200px;
        height: auto;
    }
}
.store-info{
    text-align: center;
    color: #FFF;
    position: relative;
    z-index: 10;
    max-width: 500px;
    margin: 0 auto;
}
.store-desc{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 3.3vh;
}
.store-video{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 56.56vw;
    left: 0;
    top: 0;
    right: 0;
    &:after{
        content: '';
        @include page-fit;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
    }
    iframe{
        @include page-fit;
        position: absolute;
        width: 100%;
        height: 100%;
        
    }
}
.store-btn-grp{
    position: absolute;
    z-index: 5;
    max-width: 150px;
    margin: auto;

    align-items: center;
    right:20px;
    top: 20px;
    justify-content: center;
    .btn{
        margin: 2px 0;
        padding: 3px 10px;
        font-size: 12px;
        width:100%;
    }
}
.btn-activate{
    display: block;
    max-width: 270px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.3) inset;
    font-size: 16px;
    font-weight: 700;
}
.cashback-stats{
     max-width: 348px;
    margin: 10px auto;
    border-top: 1px solid rgba(255,255,255,0.2);
    .stat-item{
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding: 2px 0;
        font-size: 11px;
        letter-spacing: 0.5px;
    }
}
.store-coupon-btns{
     display: flex;
    max-width: 450px;
    margin: 10px auto;
     .btn{
        margin: 0 15px;
        -ms-flex:1;
        flex:1;
         padding:10px 15px;
         line-height: 1.2;
         font-size: 12px;
    }
}
.cashback-rate-item{
    padding: 20px;
    line-height: 1.2;
    white-space: nowrap;
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    .btn{
       padding:10px 15px; 
    }
}
.cashback-rates{

}
.sidebar{
    max-width:300px;
    -ms-flex:300px;
    flex:300px;
}
.category-list{
    border-top: 1px solid #e3e3e3;
    li{
        a{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e3e3e3;
            &:hover{
                text-decoration: none;
                background-color: #F7F7F7;
            }
        }
        i{
            width: 1.5em;
            display: inline-block;
            text-align: center;
            
        }
        span{
            color: #333;
        }
    }
}
.box-separator{
    height: 20px;
    background-color: #F5F5F5;
    margin: 20px -15px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    
}
.tabs-contents .box-separator{
    background-color: #FFF;
}
.reward-percentage{
    line-height: 1;
}
.reward-item{
    & + .reward-item{
        margin-top: 20px;    
    }
}
.sidebar{
    .stat-item{
        line-height: 1.2;
        &+.stat-item{
            margin-top: 20px;
        }
    }
}
.similar-store-item{
    margin-bottom: 10px;
    color: #333;
    display: block;
     text-align: center;
    figure{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        margin: 0 0 5px;
       padding: 7px;
        img{
            align-self: auto;
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
}
.tabs-contents{
    background-color: #FFF;
    .col-border{
        box-shadow: 1px 1px #E3E3E3;
    }
}
.store-descriptions{
    background-color: #FFF;
    border: 1px solid #e3e3e3;
}
.x-5{
    max-width: 20%;
    -ms-flex:20%;
    flex:20%;
}
.store-coupon-item{

}
.coupon-title{

}
.search-group{
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 0 10px;
     color: #777;
    &:hover{
        border-color: darken(#e3e3e3, 10%);
    }
    i{
        
    }
    input, button{
        background-color: transparent;
        border: none;
    }
    input{
        height: 35px;
        padding: 5px 10px;
        border-radius: 2px;
        &:focus{
            color: #000;
            outline: none;
            background-color: #F3F3F3;
        }
    }
    button{
        color: #777;
        text-align: center;
        cursor: pointer;
        &:hover{
            color: #000;
        }
    }
}
.ans-votes{
    line-height: 1;
    border-right: 1px solid #e3e3e3;
    padding-right: 30px;
    padding-left: 20px;
    margin-right: 20px;
}
.ans-item{
    margin-top: 20px;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 20px;
}
.well{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 3px;
}
.rating-score-all{
    border: 1px solid #27AE61;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
}
.rating-value{
    height: 10px;
}
.rating-bars-list{
    max-width: 400px;
}
.rating-bar{
    background-color: #B3B3B3;
}
.user-rating-value{
    border: 1px solid #27AE61;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0 15px;
    line-height: 1;
    color: #27AE61;
}
.user-review-item{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
}
.review-body{
    p{
        margin: 0 0 0.5em;
    }
    p:last-child{
        margin-bottom: 0;
    }
}
.user-stars{
    white-space: nowrap;
}
.store-guide-logo{
    max-width: 80px;
    max-height: 80px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        align-self: auto;
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
    }
}
.store-guide-author-img{
     max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
    img{
        align-self: auto;
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
    }
}
select.input{
    min-height: 2.358em;
}
select.input, textarea.input, div.input{
    padding: 5px 9px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: top;
    background-color: #f9f9f9;
    line-height: 1.5;
    max-width: 100%;
    &:focus{
        outline: none;
        border-color: #2D67C3;
        background-color: #FFF;
    }
    &+.btn{
        vertical-align: top;
    }
}
.input{
    &[type='text'],
    &[type='password'],
    &[type='url'],
    &[type='email'],
    {
        @extend select.input;
    }
}
.store-social-links{
    a{
        margin-right: 15px;
        line-height: 1;
        color: #777;
        i{
            display: block;
        }
        &:hover{
            text-decoration: none;
            opacity: 0.6;
        }
    }
}
.tabs-contents{
    .coupon-deal-item{
        min-width: 220px;
    }
}
.pik-brnd{
    height: 135px;
    width: 100%;
}
[data-toggle="popover"]{
    cursor: pointer;
}

.popover{
    &[x-placement="right"]{
        .arrow {
            left: -9px;
            width: .5rem;
            height: 1rem;
            margin-top: 0.4rem;
            &:before, &:after{
                border-width: .5rem .5rem .5rem 0;
            }
            &:before{
                left: 0;
                border-right-color: rgba(0,0,0,.25);
            }
            &:after{
                left: 1px;
                border-right-color: #fff;
            }
        }
    }
    .popover-header{
       font-weight: 400;
        font-size: 14px;
       background-color: #FFF;
    }
}
.lang-list{
    list-style: none;
    display: block;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    column-count: 7;
    font-size: 12px;
    li{
        margin: 0;
        a{
            display: block;
            color: #555;
            padding: 3px 9px;
            &:hover{
                background-color: #f0f0f0;
                text-decoration: none;
                color: #000;
            }
        }
        
    }
}
.activate-reward{
    display: none;
    position: fixed;
    overflow: auto;
    background-color: #FFF;
    z-index: 1000;
    @include page-fit;
    .close{
        position: absolute;
        top: 20px;
        right:20px;
        line-height: 1;
        text-shadow: none;
        font-weight: 400;
        font-family: Tahoma;
        cursor: pointer;
    }
    &.activate-shown{
        display: block;
    }
}
.activate-login-benifits{
    max-width: 650px;
    margin: auto;
    padding: 20px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    position: relative;
    &:before{
        content: '';
        border:7px solid;
        border-color: transparent transparent #FFF transparent;
        position: absolute;
        left: 50%;
        margin-left: -7px;
        top: -14px;
    }
    
}
.list-important-steps{
    max-width: 500px;
    margin: auto;
}
[data-toggle="collapse"]{
    cursor: pointer;
}
[data-toggle="collapse"]:not(.collapsed){
    svg{
        transform: rotate(180deg);
    }
}
.list-star{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        position: relative;
        padding-left: 25px;
        padding: 10px 0 10px 25px;
        svg{
            position: absolute;
            left: 0;
            top: 12px;
            color:#f26722;
        }
    }
}
.pop-float-wrapper{
    position: relative;
}
.toggle-body{
    display: none;
}
.toggle-trigger, .toggle-trigger-fixed{
    cursor: pointer;
}
.toggle-body.open{
    display: block;
}

.pop{
    padding: 40px 20px 20px;
    width: 650px;
    background-color: #FFF;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 2px 11px 0 rgba(0,0,0,0.3);
    .pop-title{
        margin: -30px -20px 20px;
        padding: 0 20px 10px;
        border-bottom: 1px solid #e3e3e3;
    }
    &:after{
        content: '';
        border:7px solid;
        border-top: none;
        border-color:transparent transparent #FFF;
        position: absolute;
        left: 50%;
        margin-left: -7px;
        top: -7px;
    }
    &:before{
        content: '';
        border:7px solid;
        border-top: none;
        border-color:transparent transparent rgba(0,0,0,0.2);
        position: absolute;
        left: 50%;
        margin-left: -7px;
        top: -8px;
    }
    button.close{
        position: absolute;
        top: 10px;
        right:20px;
        cursor: pointer;
    }
}
.pop-body{
    padding: 0 10px;
    max-height: 300px;
    overflow: auto;
}
.pop-float{
    position: absolute;
    left: 50%;
    margin-top: 7px;
    z-index: 9;
    margin-left: (-650/2)+px;
}
.pop-float-left{
    left: -20px;
    margin-left: 0;
}
.pop-fixed{
    position: absolute;
     z-index: 10;
    &.pop-float-left{
        margin-left: -20px;
        margin-top: 30px;
        &:before, &:after{
            left: 20px;
            margin-left: 0;
        }
    }
}
.circle{
    width: 55px;
    height: 55px;
    border-radius: 55px;
    line-height: 55px;
    text-align: center;
}
.circle-stroke{
    width: 1em;
    height: 1em;
    border-radius: 1em;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    vertical-align: middle;
}
.circle-em{
   width: 1em;
    height: 1em;
    border-radius: 1em;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle; 
}
.width-em{
    width:1em;
}
.product-terms{
    color: #FFF;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 9;
    &:hover{
        text-decoration: none;
        color: #FFF;
    }
}
.store-video{
    min-width: 100/6*1%;
}
.tab-product, .tab-tab{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    li{
        display: block;
        -ms-flex:1;
        flex:1;
        height: 50px;
        text-align: center;
        a{
            display: block;

            border: 1px solid #e3e3e3;
            background-color: #FFF;
            padding: 15px 10px;
            font-size: 12px;
            color: #000;
            svg{
                margin-right: 5px;
            }
            &:hover{
                background-color: #f9f9f9;
                text-decoration: none;
            }
        }
        &.current a, .selected{
            border-bottom-color: #FFF;
            color: #F26722;
            font-weight: 700;
        }
    }
    li+li a{
        margin-left: 5px;
    }
}
.tab-inline{
    margin-bottom: -1px;
    li{
        -ms-flex:0 0 auto;
        flex:0 0 auto;
        a{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.carousel-main{
    width: 330px;
}
.carousel-main .carousel-cell {
  width: 100%;
    height: 330px;
    text-align: center;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.carousel-nav .carousel-cell {
  height: 65px;
  width: 25%;
    padding: 0 5px;
    text-align: center;
    .border{
        width: 100%;
        height: 100%;
        padding: 5px;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

.tab-product-container{
    height: 50px;
    margin-bottom: -1px;
    
}
.tab-product-top .tab-product{
    position: fixed;
    z-index: 999;
    top: 93px;
    left: 10px;
    right: 10px;
    background-color: #F5F5F5;
    box-shadow: 0 -10px #F5F5F5, 0 15px 0 -2px #fff;
}

.content-body{
    h1, h2, h3, h4, h5, h6{
        margin-bottom: 0;
        margin-top: 20px;
    }
    p{
        margin-bottom: 20px;
    }
}
.product-section-group{
    padding-right: 300px;
    position: relative;
}
.fltg-prce-bar{
    width: 270px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s top ease;
}
.fltg-prce-reached{
    .fltg-prce-bar{
        position: fixed;
        top: 163px;
        right:31px;
        z-index: 88;
    }
}
.fltg-fotr-reached{
    .fltg-prce-bar{
        position: absolute;
        right: 0;
        top: auto;
        bottom: 10px;
    }
}
.video-item{
    width: 33.33%;
    padding: 0 5px;
}
.carousel-video{
    margin: 0 -5px;
}


.single-chart {
  width: 110px;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #e3e3e3;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange-chart .circle {
  stroke: #F26722;
}

.circular-chart.green-chart .circle {
  stroke: #27ae61;
}

.circular-chart.blue-chart .circle {
  stroke: #2d67b2;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

//C3 chart css
.c3 svg {
    font: 10px sans-serif;
    -webkit-tap-highlight-color: transparent
}
.c3 line, .c3 path {
    fill: none;
    stroke: #000
}
.c3 text {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}
.c3-bars path, .c3-event-rect, .c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid {
    shape-rendering: crispEdges
}
.c3-chart-arc path {
    stroke: #fff
}
.c3-chart-arc text {
    fill: #fff;
    font-size: 13px
}
.c3-grid line {
    stroke: #aaa
}
.c3-grid text {
    fill: #aaa
}
.c3-xgrid, .c3-ygrid {
    stroke-dasharray: 3 3
}
.c3-text.c3-empty {
    fill: grey;
    font-size: 2em
}
.c3-line {
    stroke-width: 1px
}
.c3-circle._expanded_ {
    stroke-width: 1px;
    stroke: #fff
}
.c3-selected-circle {
    fill: #fff;
    stroke-width: 2px
}
.c3-bar {
    stroke-width: 0
}
.c3-bar._expanded_ {
    fill-opacity: 1;
    fill-opacity: .75
}
.c3-target.c3-focused {
    opacity: 1
}
.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
    stroke-width: 2px
}
.c3-target.c3-defocused {
    opacity: .3!important
}
.c3-region {
    fill: #4682b4;
    fill-opacity: .1
}
.c3-brush .extent {
    fill-opacity: .1
}
.c3-legend-item {
    font-size: 12px
}
.c3-legend-item-hidden {
    opacity: .15
}
.c3-legend-background {
    opacity: .75;
    fill: #fff;
    stroke: #d3d3d3;
    stroke-width: 1
}
.c3-title {
    font: 14px sans-serif
}
.c3-tooltip-container {
    z-index: 10
}
.c3-tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    -webkit-box-shadow: 7px 7px 12px -9px #777;
    -moz-box-shadow: 7px 7px 12px -9px #777;
    box-shadow: 7px 7px 12px -9px #777;
    opacity: .9
}
.c3-tooltip tr {
    border: 1px solid #ccc
}
.c3-tooltip th {
    background-color: #aaa;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: #fff
}
.c3-tooltip td {
    font-size: 13px;
    padding: 3px 6px;
    background-color: #fff;
    border-left: 1px dotted #999
}
.c3-tooltip td>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px
}
.c3-tooltip td.value {
    text-align: right
}
.c3-area {
    stroke-width: 0;
    opacity: .2
}
.c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1.3em
}
.c3-chart-arcs .c3-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none
}
.c3-chart-arcs .c3-chart-arcs-gauge-unit {
    fill: #000;
    font-size: 16px
}
.c3-chart-arcs .c3-chart-arcs-gauge-max {
    fill: #777
}
.c3-chart-arcs .c3-chart-arcs-gauge-min {
    fill: #777
}
.c3-chart-arc .c3-gauge-value {
    fill: #000
}
.c3-chart-arc.c3-target g path {
    opacity: 1
}
.c3-chart-arc.c3-target.c3-focused g path {
    opacity: 1
}
.btn--slctd{
    background-color: #2d67b2;
    color: #FFF;
}
.cont-2{
    column-count: 2;
}
.table-compare{
    table{
        td{
            border-bottom: none !important;
        }
    }
}

.stor-srch-bar-reached  .store-search-bar{
    height: 35px;
    position: relative;
    background-color: #FFF;
}
.store-search-bar-inner{
    background-color: #FFF;
}
.stor-srch-bar-reached .store-search-bar-inner{
    position: fixed;
    top: 83px;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 99;
    border-bottom: 1px solid #e3e3e3;
}
.offer-search-bar{
    height: 65px;
    position: relative;
    background-color: #FFF;
     z-index: 105;
}
.offer-search-bar-inner{
    background-color: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 105;
}
.offr-srch-bar-reached .offer-search-bar-inner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 105;
    border-bottom: 1px solid #e3e3e3;
}
.offr-srch-bar-reached .site-header{
    display: none;
}
.ctgr-deal{
    display: block;
    font-size: 12px;
}
.ctgr-cupn{
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}
.ctgr-item-name{
    display: block;
    line-height: 1.2;
    height: 2.4em;
    margin: 10px 0;
    font-size: 16px;
    font-family: Oswald, sans-serif;
}
.ctgr-item{
    color:#000;
    .material-icons{
        transition: 0.3s ease;
        backface-visibility: hidden;
    }
    &:hover{
        text-decoration: none;
        color: #000;
        .material-icons{
            transform: scale(1.2,1.2);
        }
    }
}
.sgin-body{
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.acc-typ-cont{
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
}
.acc-typ-optn{
    cursor: pointer;
    border: 1px solid #e3e3e3;
    &:hover{
        border-color: #2d67b2;
    }
}
.pik-brnd {
    position: relative;
    img{
        max-width: 100%;
        max-height:100%;
        width: auto;
        height: auto;
    }
    input{
        position: absolute;
    }
}
.filtr-container{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.terms-body{
    max-height: 55vh;
    overflow: auto;
}
.clos-abs{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
#hiw{
    z-index: 9999;
}
.modal-signin{
    max-width: 660px;
}
.h-2e{
    height: 3em;
    line-height: 1.5;
    overflow: hidden;
}
.h-2e-i{
    max-height: 3em;
    line-height: 1.5;
    overflow: hidden;
}
.user-image{
    font-size: 60px;
    line-height: 1;
    position: relative;
    display: inline-block;
    svg{
        width: 60px;
        height: 60px;
    }
    &:hover .upld-usr-img{
        opacity: 1;
    }
    .upld-usr-img{
        display: flex;
        align-items: center;
        position: absolute;
        font-size: 13px;
        opacity: 0;
        transition: 0.3s;
        cursor: pointer;
        @include page-fit;
        input{
            width:0;
            height: 0;
            visibility: hidden;
        }
    }
}
.user-side-menu{
    min-width: 220px;
}
.filter-side-menu{
    min-width: 260px;
}
.ui-slider-horizontal{
    max-width: 401px;
    height: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    margin: 100px 0 40px 120px;
    &:before{
        content: '';
        height: 26px;
        border-left:1px solid #ccc;
        position: absolute;
        left: 50%;
        top: -11px;
    }
}
.ui-slider-handle{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #2d67b2;
    display: block;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    top:50%;
    outline: none;
    cursor: pointer;
}
.ui-slider-handle:focus{
    outline: none;
}
.ref-popover{
    width: 240px;
    text-align: center;
    left: 50%;
    top:-80px;
    margin-left: -120px;
    .arrow{
        bottom:-8px;
        left: 50%;
        margin-left: -8px;
    }
}
.acc-stng-lbl{
    width: 180px;
    padding-right: 20px;
    display: block;
}
.btn-group-toggle {
    .active, .active:hover{
        background-color: #2d67b2;
        color: #FFF;
    }
    position: relative;
    input{
        visibility: hidden;
        position: absolute;
    }
}
.plus-trigger{
    line-height: 1;
    display: inline-block;
    backface-visibility: hidden;
    transition: 0.3s ease;
    transform: rotate(45deg);
    svg{
        display: block;
    }
    &.collapsed{
        transform: rotate(0deg)
    }
}
.line-1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;
    padding-right: 1em;
}
.star-rater{
    direction: rtl;
    unicode-bidi: bidi-override;
}
.star-rater .material-icons{
    color: #9A9A9A;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.star-rater .material-icons input{
    visibility: hidden;
    position: absolute;
}
.star-rater .material-icons:hover,.star-rater .material-icons:hover~.material-icons{
    color: #f79d11;
    transform: scale(1.3,1.3);
}
.star-rater .material-icons.selected,.star-rater .material-icons.selected~.material-icons{
    color: #f79d11;
}
.paginate a:hover{
    text-decoration: none; 
}
.paginate{
    font-size: 0;
    display: flex;
    justify-content: center;

    .paging_selected_page , .paging_page{
        display: block;
        border: solid 1px #e3e3e3;
        font-size: 15px;
        padding: 5px 12px;
        margin-left: -1px;
    }
    .paging_selected_page{
        background-color: #2d67b2;
        color: #FFF;
        position: relative;
        border-color: #2d67b2;
    }
    .paging_page.last_page,.paging_page.next_page,
    .paging_page.first_page,.paging_page.previous_page{
        font-size: 0;
        padding: 5px 5px;
    }
    .paging_page.next_page:after{
        content: '\E409';
        font-family: 'Material Icons';
        font-size: 22px;
        line-height: 1;
    }
    .paging_page.last_page:after{
        content: '\E5DD';
        font-family: 'Material Icons';
        font-size: 22px;
        line-height: 1;
    }
    .paging_page.previous_page:after{
        content: '\E314';
        font-family: 'Material Icons';
        font-size: 22px;
        line-height: 1;
    }
    .paging_page.first_page:after{
        content: '\E5DC';
        font-family: 'Material Icons';
        font-size: 22px;
        line-height: 1;
    }
}
.product-image{
    width:400px;
    text-align: center;
    img{
        max-height: 400px;
        width:auto;
        height: auto;
    }
}
//C3 chart end
@import "responsive";